@model IEnumerable<Selling.ViewModel.tblOfficerViewModel>

<p>
    @*@Html.ActionLink("Buat Baru", "Create")*@
    <button id="btn-create-officer" class="btn-info">
        Buat Baru
    </button>
</p>
<table id="Officer" class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.tblOfficerId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OfficerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OfficerPassword)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OfficerStatus)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.tblOfficerId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OfficerName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OfficerPassword)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OfficerStatus)
                </td>
                <td>
                    @*@Html.ActionLink("Edit", "Edit", new { id=item.OfficerCode }) |*@
                    <button class="btn btn-success BtnEditOfficer" data-officercode="item.OfficerCode">
                        <span class="glyphicon glyphicon-pencil">
                        </span>
                    </button>
                    @*@Html.ActionLink("Details", "Details", new { id=item.OfficerCode }) |*@
                    <button class="btn btn-primary" data-officercode="item.OfficerCode">
                        <span class="glyphicon glyphicon-zoom-in">
                        </span>
                    </button>

                    @*@Html.ActionLink("Delete", "Delete", new { id=item.OfficerCode })*@
                    <button class="btn btn-danger" data-officercode="item.OfficerCode">
                        <span class="glyphicon glyphicon-trash">

                        </span>
                    </button>
                </td>
            </tr>
        }
    </tbody>
</table>

<script>
    $(document).ready(function () {
        $('#Officer').dataTable();
    });
    $('#idBtnCreateOfficer').click(function () {
        //alert("triger dari button");

        //$('#idModalCreateDataOfficer').modal("show")
        $.ajax({
            url: '/Ajax/AddDataOfficer',
            type: 'GET',
            success: function (model) {
                debugger;
                $('#idModalBodyCreateDataOfficer').html(model);
                $('#idModalCreateDataOfficer').modal('show');
            }
        });
    });
    $('.btnEditOfficer').click(function () {
        var vEditOfficer = $(this).attr("data-OfficerCode");
        debugger;
        alert(vEditOfficer);
    });
    $('.btnDetailOfficer').click(function () {
        var vDetailOfficer = $(this).attr("data-OfficerCode");
        alert(vDetailOfficer);
    });
    $('.btnDeleteOfficer').click(function () {
        var vDeleteOfficer = $(this).attr("data-OfficerCode");
        alert(vDeleteOfficer);
    });
</script>
